In [69]:
import pandas as pd
pd.set_option('display.max_columns',None)

In [70]:
df = pd.read_csv('melb_data.csv')
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,3.0,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

# Nomor 1
Tampilkan statistik deskriptif 
pada variabel Rooms, 
Distance, Landsize, dan Price!

In [6]:
df.describe()[['Rooms','Distance','Landsize','Price']]

              Rooms      Distance       Landsize         Price
count  13580.000000  13580.000000   13580.000000  1.358000e+04
mean       2.937997     10.137776     558.416127  1.075684e+06
std        0.955748      5.868725    3990.669241  6.393107e+05
min        1.000000      0.000000       0.000000  8.500000e+04
25%        2.000000      6.100000     177.000000  6.500000e+05
50%        3.000000      9.200000     440.000000  9.030000e+05
75%        3.000000     13.000000     651.000000  1.330000e+06
max       10.000000     48.100000  433014.000000  9.000000e+06

# Nomor 2

a) Berapa jumlah Rooms pada rumah yang harganya paling mahal?   
b) Berapa rata-rata harga rumah yang jarak ke CBD (variabel Distance) terdekat?  
c) Berapa rata-rata harga rumah yang luas tanahnya (variabel Landsize) 1 kali standar 
deviasi di atas rata-rata luas tanah?    
d) Berapa rentang (range) harga rumah (variabel Price) pada region Southern 
Metropolitan?

In [155]:
df[['Price','Rooms']].sort_values('Price', ascending=False).head(1)

           Price  Rooms
12094  9000000.0      3

In [20]:
df.groupby('Distance')[['Price']].mean().head(1)

                  Price
Distance
0.0       671166.666667

In [71]:
mean = df['Landsize'].mean()
std = df['Landsize'].std()

df[(df['Landsize']>=mean) & (df['Landsize']<=mean + std)].mean()['Price']

1267231.1335863378

In [72]:
price = df[df['Regionname']=='Southern Metropolitan']['Price']
price.max() - price.min()

7869000.0

# Nomor 3
Nilai outlier adalah nilai yang berada di bawah Q1 - (1.5 * IQR) atau di atas 
Q3 + (1.5 * IQR).  
a) Hitung dulu Q1, Q2, dan IQR pada kolom Price (harga rumah)  
b) Hitung ada berapa nilai outlier pada kolom Price!

In [66]:
q1 = df['Price'].quantile(0.25)
q3 = df['Price'].quantile(0.75)
iqr = q3 - q1

below = q1-(1.5*iqr)
above = q3+(1.5*iqr)

print((df['Price']<below).sum() + (df['Price']>above).sum())

612

# Nomor 4
Lakukan uji asumsi normalitas pada variabel harga rumah (Price) menggunakan:  
a) Shapiro Wilk Test  
b) D’Agostino and Pearson’s Test

In [73]:
from scipy.stats import shapiro

stats, pval = shapiro(df['Price'])

if pval <= 0.05:
    print('Tolak H0, distribusi tidak normal')
else:
    print('Terima H0, distribusi normal')

Tolak H0, distribusi tidak normal

C:\Users\algustie\anaconda3\lib\site-packages\scipy\stats\morestats.py:1681: UserWarning: p-value may not be accurate for N > 5000.
  warnings.warn("p-value may not be accurate for N > 5000.")

In [74]:
from scipy.stats import normaltest

stats, pval = normaltest(df['Price'])

if pval <= 0.05:
    print('Tolak H0, distribusi tidak normal')
else:
    print('Terima H0, distribusi normal')

Tolak H0, distribusi tidak normal

# Nomor 5
Jika diasumsikan telah memenuhi syarat statistik parametrik, hitung seberapa 
kuat korelasi variabel Rooms dengan Price, serta arah korelasinya!

In [75]:
df[['Rooms','Price']].corr()
#korelasi linear dan moderat

          Rooms     Price
Rooms  1.000000  0.496634
Price  0.496634  1.000000

# Nomor 6
a) Dari beberapa Regionname, manakah Regionname yang variabel jumlah 
kamarnya (Rooms) memiliki korelasi terkuat dengan variabel harga rumah 
(Price)!           
b) Diasumsikan telah memenuhi syarat statistik parametrik.

In [100]:
df[df['Regionname']=='Northern Metropolitan']['Rooms'].corr(df['Price'])

0.3928134583022409

In [120]:
region = list(df['Regionname'].unique())

for i in region:
    korelasi = df[df['Regionname']==i]['Rooms'].corr(df['Price'])
    print(f'Korelasi Room di Region {i} terhadap Price = {korelasi}')

Korelasi Room di Region Northern Metropolitan terhadap Price = 0.3928134583022409
Korelasi Room di Region Western Metropolitan terhadap Price = 0.4760302938434981
Korelasi Room di Region Southern Metropolitan terhadap Price = 0.6837438462796432
Korelasi Room di Region Eastern Metropolitan terhadap Price = 0.5029928557468842
Korelasi Room di Region South-Eastern Metropolitan terhadap Price = 0.26779944081140483
Korelasi Room di Region Eastern Victoria terhadap Price = 0.31442339534695335
Korelasi Room di Region Northern Victoria terhadap Price = 0.3611442989081275
Korelasi Room di Region Western Victoria terhadap Price = 0.5518865952271457

In [ ]:
# Korelasi terkuat ada di region Southern Metropolitan

# Nomor 7
Jika diasumsikan tidak memenuhi syarat statistik parametrik, hitung seberapa 
kuat korelasi variabel Distance dengan Price, serta arah korelasinya!

In [78]:
df[['Distance', 'Price']].corr()
#korelasi berbanding terbalik dan lemah

          Distance     Price
Distance  1.000000 -0.162522
Price    -0.162522  1.000000

# Nomor 8
a) Dari beberapa Regionname manakah Regionname yang variabel jumlah jarak ke CBD (Distance) paling tidak berkorelasi dengan variabel harga rumah (Price)! <br>
b) Serta tampilkan juga Regionname yang paling berkorelasi kedua variabel ini!    <br>
c) Diasumsikan telah memenuhi syarat statistik parametrik.

In [121]:
region = list(df['Regionname'].unique())

for i in region:
    korelasi = df[df['Regionname']==i]['Distance'].corr(df['Price'])
    print(f'Korelasi Distance di Region {i} terhadap Price = {korelasi}')

Korelasi Distance di Region Northern Metropolitan terhadap Price = -0.36855199617905104
Korelasi Distance di Region Western Metropolitan terhadap Price = -0.3340855504709212
Korelasi Distance di Region Southern Metropolitan terhadap Price = 0.002489149218933432
Korelasi Distance di Region Eastern Metropolitan terhadap Price = -0.12435562852683696
Korelasi Distance di Region South-Eastern Metropolitan terhadap Price = -0.2855640518908051
Korelasi Distance di Region Eastern Victoria terhadap Price = -0.34569916122464583
Korelasi Distance di Region Northern Victoria terhadap Price = 0.08956649327360577
Korelasi Distance di Region Western Victoria terhadap Price = -0.04606415345276121

In [ ]:
# Paling tidak korelasi di region Southern Metropolitan

# Nomor 9
Uji hipotesis apakah metode pembelian/Method berkaitan dengan tipe 
rumah/ Type (dependen) atau tidak saling berkaitan (independen)!
Hypothesis:  

• Ho : The two variables are independent  
• Ha : The two variables are dependent.

In [127]:
df_count = pd.crosstab(df['Method'],df['Type'])
df_count

Type       h    t     u
Method
PI      1069  134   361
S       6507  723  1792
SA        66    7    19
SP      1079  143   481
VB       728  107   364

In [131]:
from scipy.stats import chi2_contingency

stats, pval, dof, ex = chi2_contingency(df_count)

if pval <= 0.05:
    print('Tolak H0, The two variables are dependent')
else:
    print('Terima H0, The two variables are independent')

Tolak H0, The two variables are dependent

# Nomor 10
Uji hipotesis apakah rata-rata harga rumah (Price) antar Regionname berbeda 
ataukah sama! Diasumsikan persyaratan statistik parametrik terpenuhi
Hipotesis:  
• Ho : μ1 = μ2 = … = μk (Rata-rata harga rumah antar Regionname sama)  
• Ha : Setidaknya ada satu pasang Regionname yang rata-rata harga 
rumahnya tidak sama, tapi kita tidak tahu yang mana

In [157]:
list(df['Regionname'].unique())

['Northern Metropolitan',
 'Western Metropolitan',
 'Southern Metropolitan',
 'Eastern Metropolitan',
 'South-Eastern Metropolitan',
 'Eastern Victoria',
 'Northern Victoria',
 'Western Victoria']

In [161]:
from scipy.stats import f_oneway

stats,pval = f_oneway(
    df[df['Regionname']=='Eastern Metropolitan']['Price'],
    df[df['Regionname']=='Eastern Victoria']['Price'],
    df[df['Regionname']=='Northern Metropolitan']['Price'],
    df[df['Regionname']=='Northern Victoria']['Price'],
    df[df['Regionname']=='South-Eastern Metropolitan']['Price'],
    df[df['Regionname']=='Southern Metropolitan']['Price'],
    df[df['Regionname']=='Western Metropolitan']['Price'],
    df[df['Regionname']=='Western Victoria']['Price']
)

if pval <= 0.05:
    print('Tolak H0, Setidaknya ada satu pasang Regionname yang rata-rata harga rumahnya tidak sama, tapi kita tidak tahu yang mana')
else:
    print('Terima H0, Rata-rata harga rumah antar Regionname sama')

Tolak H0, Setidaknya ada satu pasang Regionname yang rata-rata harga rumahnya tidak sama, tapi kita tidak tahu yang mana

In [160]:
#cek kesimpulan
df.groupby('Regionname')[['Price']].mean()

                                   Price
Regionname
Eastern Metropolitan        1.104080e+06
Eastern Victoria            6.999808e+05
Northern Metropolitan       8.981711e+05
Northern Victoria           5.948293e+05
South-Eastern Metropolitan  9.229438e+05
Southern Metropolitan       1.372963e+06
Western Metropolitan        8.664205e+05
Western Victoria            3.975234e+05